name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test-security:
    runs-on: ubuntu-latest
    
    steps:
    # 1. Get the code
    - name: Checkout Code
      uses: actions/checkout@v3

    # 2. Set up Python environment
    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    # 3. Install Dependencies
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest bandit

    # 4. Run Tests (Functionality)
    - name: Run Unit Tests
      run: pytest

    # 5. Run SAST Scan (Security)
    - name: Run Bandit Security Scan
      run: bandit -r app.py -f json -o bandit_report.json || true


    # 6. Build and Push Docker Image (Only on merge to main)
    - name: Login to Docker Hub
      if: github.event_name != 'pull_request'
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Docker Image
      if: github.event_name != 'pull_request'
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/devops-project:latest .
        docker push ${{ secrets.DOCKER_USERNAME }}/devops-project:latest